body {
    font-family: 'Work Sans', sans-Serif;
padding-left:50px;
padding-right:50px;

  }

#header-info{
  padding-top:0px;
  font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    font-family: Rokkitt;
float:right;
margin-top: -80px
}

  /*logo*/
  #logo{
    /* display: inline; */
    /* width:150px; */
    /* height:auto; */
    /* color:red; */
    font-size:40px;
    font-style:italic;
    /* float:left; */
  }

      
  /*navigation menus*/
  nav {
    padding-top:10px;
      /* max-width: 960px; */
      margin: 0 auto;
      /*padding: 10px 0;*/
      margin-right: 0%;
      box-sizing: border-box;
      background-color:#f47142;
      height: 80px;
      
  }
  
  nav>ul {
      text-align: left;
  }
  
  nav>ul>li {
      display: inline-block;
  }
  
  nav ul li a {
    box-sizing:border-box;
    margin-left: 9px;
      margin-right:9px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      color:black;
      font-family:poppins;
      font-size:normal;
      Font-weight:500;
      position:relative;
      
    
      
  }
  /*what happens when we click on navigation menus*/
  nav>ul>li>a:hover {
      background:white;
      color:red;
      text-decoration:underline;
  }

  nav input[type=text] {
    width: 200px;
    height: 29px;
    background:white;
    border: none;
    padding: 1px 0px 0px 7px;
    color: #343434;
    float:right;
    margin-top:15px;
  }



  /*words over background image*/
  .backgroundd {
      position: relative;
      text-align: center;
      color: white;
  }
  /* text over background image */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color:black;
    padding: 10px;
    margin: 0;
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #fafafa;
    font-size: 13px;
    line-height: 18px;
    width: 305px;
    text-align: justify;
    height: auto;
    border-radius: 10px;
    overflow: hidden;




  }
  #about{

    font-size:30px;
    text-align: center;
    color: #12222f;
    line-height: 45px;
    font-weight: normal;
    padding-left:40px;
    margin-right:40px;

  }

   .one{
     
     display: flex;
  background-color:#CCEAFF;
  /* justify-content:center; */
  
}
   .one>div
   {
     
  /* background-color:white; */
  font-size:20px;
  padding:10px;
   }
  
 #left{
   width:60%;
 }
     
 /*two */

 .two{
     
     display: flex;
  background-color:#f9fafc;
  /* justify-content:center; */
  
}
   .two>div
   {
     
  /* background-color:white; */
  font-size:20px;
  padding:10px;
   }
  
 #left{
   width:60%;
 }
     /*three*/

      .three{
     
     display: flex;
  background-color:#CCEAFF;
  /* justify-content:center; */
  
}
   .three>div
   {
     
  /* background-color:white; */
  font-size:20px;
  padding:10px;
   }
  
 #left{
   width:60%;
 }
     
 .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black ;
   text-align: center;
   color:gray;
 }
 .skills>img{
 padding-left:700px;
    border-radius:50%;

 }